# Find and replace instances of casavant w/ OSU username
# replace instances of jeff with 5472 username

Host osu
    HostName stdlinux.cse.ohio-state.edu
    User casavant

Host vmfilehost
    User                   casavant
    HostName               vmfilehost.cse.ohio-state.edu
    ProxyCommand           ssh -qaY osu 'nc -w 14400 %h %p'
    IdentityFile           ~/.ssh/id_rsa
    BatchMode              yes
    #PasswordAuthentication no

Host g1dev
    HostName               10.1.1.142
    User                   jeff
    ServerAliveInterval    60
    TCPKeepAlive           yes
    ProxyCommand           ssh -qaY vmfilehost 'nc -w 14400 %h %p'
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         8h

Host g1router
    HostName               10.0.0.1
    User                   jeff
    ServerAliveInterval    60
    TCPKeepAlive           yes
    ProxyCommand           ssh -qaY vmfilehost 'nc -w 14400 %h %p'
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         8h
    IdentityFile           ~/.ssh/id_rsa
