Host vmfilehost
    # CSE username
    User                   casavant
    HostName               vmfilehost.cse.ohio-state.edu
    ProxyCommand           none
    IdentityFile           ~/.ssh/id_rsa
    BatchMode              yes
    PasswordAuthentication no

Host g1dev
    # User on dev host
    User                   jeff
    HostName               10.1.1.144
    ServerAliveInterval    60
    TCPKeepAlive           yes
    ProxyCommand           ssh -qaY vmfilehost 'nc -w 14400 %h %p'
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         8h

# With this included, ssh g1dev should get you to our dev VM from outside.
